<div class="container">
    <div class="details">
<app-title title="Register"></app-title>
<form [formGroup]="registerForm" (ngSubmit)="submit()">
        <text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        label="Nombre">
`</text-input>

<text-input
    [control]="fc.email"
    [showErrorsWhen]="isSubmitted"
    label="Correo"
    type="email">
`</text-input>
    <text-input
    [control]="fc.password"
    [showErrorsWhen]="isSubmitted"
    label="Contrasenia"
    type="password">
`</text-input>

<text-input
    [control]="fc.confirmPassword"
    [showErrorsWhen]="isSubmitted"
    label="Confirmar Contrasenia"
    type="password">
`</text-input>

<text-input
[control]="fc.address"
[showErrorsWhen]="isSubmitted"
label="Direccion">
`</text-input>


<default-button text="Registrar"></default-button>

<div class="login">
    Ya tienes una cuenta? &nbsp;
    <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">Login Aqui
    </a>
</div>

</form>
    </div>
</div>